<!--<app-test [data]="person" (mandaDatiE)="onRiceviDati($event)"></app-test>
<button mat-raised-button color="warn" (click)="onClick()">Cambia</button>
<input #inputSaluti value="prova">
<button (click)="onClick2()"> Clicca</button>
<h2>Scegli il colore</h2>
<div>
  <input type="radio" name="coloreEvidenziatore" (click)="cambiaColore('red')" >Rosso
  <input type="radio" name="coloreEvidenziatore" (click)="cambiaColore('pink')"> Rosa
  <input type="radio" name="coloreEvidenziatore" (click)="cambiaColore('purple')"> Viola
</div>
<p [appHighlight] = "colore" defaultColor="blue">Ciao, sono un bel paragrafo</p>

<p>{{oggi | date:'d MMM YYY - h:mm:ss'}}</p>
<p>{{numero | number: '1.1-4'}}</p>
<p>{{numero | currency: 'EUR'}}</p>-->

<a routerLink="/" style="margin-right:10px;">Home</a>
<a routerLink="contatti" style="margin-right:10px;">Contatti</a>
